{% extends 'riyush/index.html' %}

{% block main %}
	<div class="center">
		Book Table
	</div>
	<div>
		{{name}}
	</div>
	<div>
		<div>
			<form id="people_count">
                <div class="input-field">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                </div>
                <div class="input-field">
                    <input class="people" id="{{rest_id}}" name="people" type="number" required>
                    <label for="people">Enter Number of people</label>
                </div>
                <div>
                	<input type="submit" value="Submit" class="btn">
                </div>
            </form>
		</div>
	</div>
	<div>
		<div class="center">
			Available time slots
		</div>
		<div class="time_slots">
			{% for rest in slots %}
				<button class="btn slot_button" id="{{rest.id}}">{{rest.slot.slot}}</button>
			{% endfor %}
			
		</div>
		<div class="loader_container center" style="display: none">
			<div class="avail_slots_loader preloader-wrapper active">
			    <div class="spinner-layer spinner-red-only">
			      <div class="circle-clipper left">
			        <div class="circle"></div>
			      </div><div class="gap-patch">
			        <div class="circle"></div>
			      </div><div class="circle-clipper right">
			        <div class="circle"></div>
			      </div>
			    </div>
			</div>
		</div>
	</div>
	<div style="position: fixed; bottom: 40px; width: 80%;">
		<button id="order_button" class="order btn waves-effect waves-light right" style="height: 50px">Order Food<i class="material-icons right">send</i></button>
	</div>
{% endblock %}