{% extends 'riyush/index.html' %}

{% block main %}
	<div class="main_div">
		<div class="sub_div">
			
		</div>
	</div>
	<div class="container">
		<div class="row partner-restaurant-section">
			<span>Partner Restaurants</span>
		</div>
		<div class="row">
			{% for rest in restaurants %}
			<div>
				<a href="/restaurants/{{rest.id}}">
					{{rest.name}}
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="container">
		<div class="row how-it-works-section">
			<span>How it Works</span>
		</div>
		<div class="row">
			
		</div>
	</div>

{% endblock %}