{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Riyush</title>

  <!-- CSS  -->
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/tabs.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <header>
        <!-- <nav class="top-nav red">
          <div class="container">
            <div class="nav-wrapper">
              <a class="page-title">Riyush</a>
              <ul class="header-list right">
                {% if user.is_authenticated%}
                  <li><a href="/logout">Logout</a></li>
                {% else %}
                  <li><a href="/login">Login</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav> -->
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo logo-title">gharSeOrder</a>
          <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu" style="color: rgb(27, 27, 27);margin-left: 10px;"></i></a>
          <ul id="nav-mobile header-links" class="right hide-on-med-and-down">
            <li><a href="">Home</a></li>
            <li><a href="">How it works</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="">Home</a></li>
            <li><a href="">How it works</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="dashboard" style="margin-top: 30px">
      {% block main %}{% endblock %}
    </div>
    {% block menu %}{% endblock %}
    <footer class="page-footer">
      <div>
        Footer
      </div>
    </footer>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "js/materialize.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
    <script src="{% static "js/tabs.js" %}"></script>
</body>
</html>