/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{color: black ;} 

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.main_div{
  background-color: black;
  width: 96%;
  height: 400px;
  padding-top: 100px;
  margin-bottom: 30px;
  margin-left: 2%;
  background-image: url('/static/images/homepage.jpg');
  background-position:center;
  background-repeat:no-repeat;
}
.sub_div{
  background-color: gainsboro;
  width: 30%;
  height: 200px;
  margin: auto;
  opacity: 0.9;
}
.sub-category{
  color: rgb(120, 30, 64);
  font-size: 18px;
  margin: 10px 0;
}
.people:focus{
  border-bottom: 1px solid rgb(120, 30, 64) !important;
  box-shadow: 0 1px 0 0 rgb(120, 30, 64) !important;
}
.people:focus + label{
  color: rgb(120, 30, 64) !important;
}
.how-it-works-section, .partner-restaurant-section{
  font-family: 'Great Vibes', cursive;
  text-align: center;
  color: rgb(120, 30, 64);
  border-bottom: 1px solid;
  line-height: 0.1em;
  font-size: 26px;
  margin-bottom: 20px;
}
.how-it-works-section span, .menu-section span, .order-section span, .partner-restaurant-section span{
  background-color: #fff;
  padding: 0px 10px;
}
.menu-section, .order-section{
  font-family: 'Great Vibes', cursive;
  text-align: center;
  color: rgb(120, 30, 64);
  border-bottom: 1px solid;
  line-height: 0.1em;
  font-size: 26px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.restaurant-title-section{
  font-family: 'Great Vibes', cursive;
  color: rgb(120, 30, 64);/*
  border-bottom: 1px solid;
  line-height: 0.1em;*/
  font-size: 26px;
  margin-bottom: 60px;
  margin-top: 30px;
}
.restaurant-title-section span{
  background-color: #fff;
  padding: 0px 10px;
  border-bottom: 2px solid;
}
.avail-slots-section, .book-table-section{
  font-family: Quicksand, sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}
.people_count_submit_btn, .slot_button, #order_button, .checkout{
  background-color: rgb(120, 30, 64);
}
.people_count_submit_btn:hover ,.slot_button:hover, #order_button:hover, .checkout:hover {
  background-color: rgb(140, 36, 75);
}
.checkout, .order{
  margin-right: 5%;
  float: right;
}
.total-price{
  border-color: rgb(120, 30, 75);
  border-top: 2px solid;
  margin-top: 20px;
}
.contact{
  margin-top: 10px;
}
.menu_container{
  margin-right: 3%;
  font-family: Quicksand, sans-serif;
  margin-top: 30px;
}
.menu_container_items
  max-height: 600px;
  overflow-y: scroll;
}
.menu_item{
    height:70px;
    overflow: hidden;
    margin-bottom: 0;
  }
.menu_item_desc{
  margin-top: -35px; 
  color: grey;

}
.slot_button{
  margin-right: 5px;
}
.slider{
    width: 90% !important;
    margin-left: 5% !important;
}

.display-card a{
  font-size: 21px;
  color: #607d8b !important;
  font-family: Calibri;
}
.dropdown-content{
  z-index: 2 !important;
}
.card{
  margin-right: 0px !important;
}

#dropdown1 {margin-top: 80px ;}

#log{height: 100px;
      width: 100px ;}

.card.small {
  height: 325px !important;
}

nav .logo-title{
  color: rgb(120, 30, 64);
  font-family: 'Great Vibes', cursive;
  margin-left: 20px;

}

.card.small .card-image{
  height: 260px;
  width: 100%;
}

nav ul a{
  color: #000000 ;
  font-family: 'Great Vibes', cursive;
  font-size: 18px;
}

main{
  margin-left: 5%;
  margin-right: 5% ;
  padding-left: 3%;
  padding-right: 2%;
  background-color: #cfd8dc ;
  padding-top: 50px;
  padding-bottom: 50px ;
}

.leftover{display: inline;}


.title{
  margin-left: -70px ;
  font-size: 30px ;
  font: bold ;
}

p {
  line-height: 2rem;
}


footer.page-footer {
  margin: 0;
  color: rgb(120, 30, 64);
  background-color: rgb(246, 246, 246);
  width: 100%
}


/*nav.top-nav a.page-title, ul.header-list {
  line-height: 80px;
  font-size: 35px;
}

a.button-collapse.top-nav.full {
  line-height: 80px;
}*/
nav .nav-wrapper {
  background-color: #fff
}

@media only screen and (max-width : 992px) {
  nav .nav-wrapper {
    text-align: center;
  }
  nav .logo-title{
  margin-left: 0px;
}
  /*nav .nav-wrapper a.page-title {
    font-size: 36px;
  }*/
}

@media only screen and (min-width: 600px )and (max-width : 992px) {
  .contact{
    height: 180px !important;
  }
}

@media only screen and (min-width : 993px) {
  .container {
    width: 85%;
  }

}

@media only screen and (max-width : 600px) {
  
  nav .logo-title{
  width: 100%

  }

  .checkout, .order{
    width: 100%;
    float: left;
    margin-right: 0;
  }
  .card.small {
    height: 285px !important;
  }

  .card.small .card-image {
    height: 220px !important;
    width: 100%;
  }
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

